#rg {
            text-align: center;
            color: blue;
        }

/* table{width: 50%}
		table,th,td{border:1px solid blue; border-collapse: collapse;}
		th,td{padding: 5px;}
		thead{background-color: #1f1f1f; color: white;} */